<h1>Listing shortcuts</h1>

<table>
  <tr>
    <th>Long url</th>
    <th>Keyword</th>
    <th>Number of redirects</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shortcuts.each do |shortcut| %>
  <tr>
    <td><%= shortcut.long_url %></td>
    <td><%= shortcut.keyword %></td>
    <td><%= shortcut.number_of_redirects %></td>
    <td><%= shortcut.owner %></td>
    <td><%= link_to 'Show', shortcut %></td>
    <td><%= link_to 'Edit', edit_shortcut_path(shortcut) %></td>
    <td><%= link_to 'Destroy', shortcut, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shortcut', new_shortcut_path %>
